# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore build folders and files
build/
docs/

# YouCompleteMe file :V
*.py
*.pyc
